<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 adminBlogDiv" ng-controller="AdminController as adminConsole">
	<a href="#home">Home</a>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 adminBlogCard border">
		<h2>Add A Blog Post</h2>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 adminBlogTitle border">
			 <input type="text" placeholder="Title" ng-model="title"/>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 adminBlogContent border">
			 <textarea type="text" placeholder="What's on your mind?" ng-model="blogPost"></textarea>
		</div>
		<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 adminBlogAddImage border">
			 <input type="file" value="upload" id="imageFile" ng-model="image"/>
		</div> -->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 adminBlogButton border">
			 <button ng-click="adminConsole.postIt(title, blogPost)"ng-disabled="!title || !blogPost">Submit</button> 
		</div>
	</div>
</div>