<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navMenu navMenu_desktop" >
	<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navMenu_cover ">

	</div> -->
	<!-- <img src="./data/images/headers/header_5.jpeg">	 -->
	<div id="navMenu_logo" class="navMenu_logo ">
		<a ui-sref="home">
			<h1>REMEMBER ME</h1>
		</a>
	</div>
	<nav>
			<ul id="navMenu_categories" class="navMenu_categories">
				<li><a class="aClass" ui-sref="home">HOME</a></li>
				<li><a ui-sref="blog">BLOG</a></li>
				<li><a ui-sref="about">ABOUT</a></li>
				<li><a ui-sref="shop">SHOP</a></li>
				<!-- <li><a ui-sref="#cart">CART</a></li> -->
				<!-- <li><a ui-sref="#cart"><ngcart-summary template-url="lib/bower_components/ngCart/template/ngCart/summary.html"></ngcart-summary></a></li> -->
				<ngcart-summary template-url="vendor/ngCart/template/ngCart/summary.html"></ngcart-summary>
			</ul>
      
	</nav>
	<div id="navMenu_contact" class="navMenu_contact">
		<ul>
			<li><a ui-sref="contact">CONTACT</a></li>
			<li><a ui-sref="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
			<li><a ui-sref="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a ui-sref="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a ui-sref="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			<!-- <li><a onclick="return false;"><i data-target="#loginModal" ng-click="loginModal()"  class="fa fa-user" aria-hidden="true"></i></a></li> -->
		</ul>
	</div>
</div>


