<div class="temp_footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="temp_footer_subscribe col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<p class="temp_footer_subscribe_title">Let's Keep In Touch!</p>
		<p class="temp_footer_subscribe_subtitle">Sign up to receive emails from my studio about promotions, new products, and more! </p>

	</div>
	<div class="temp_footer_signup col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<input type="text" name="email" placeholder="Email Address">
		<button type="submit" class="btn" ng-click="subscribe()"><i class="subscribe_check fa fa-check"></i><p>Sign Up</p></button>
	</div>
</div>