<main-nav-bar></main-nav-bar>
<!-- form.html -->
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
<!-- <a ui-sref="home">home</a>
<a ui-sref="cart">cart</a> -->
    <div id="form-container">
        <div class="page-header text-center">
            <h2>Checkout</h2>
            <div id="status-buttons" class="text-center">
                <a ui-sref-active="active" ui-sref=".customer"><span>1</span> Customer</a>
                <a ui-sref-active="active" ui-sref=".shipping"><span>2</span> Shipping</a>
                <a ui-sref-active="active" ui-sref=".payment"><span>3</span> Payment</a>
            </div>
        </div>
        <span class="payment-errors alert alert-danger hidden"></span>
        <form action="/checkout" method="POST" id="payment-form" ng-submit="submitPayment($event)"> 
            <div id="form-views" ui-view></div>
        </form>

    </div>

</div>
</div>


