<div class="row">
	<div class="col-md-12">
		<h3>Create an account!<h3>
		<!-- Validation Errors -->
		<ng-form name="createAccount">
			<div class="form-group">
				<label for="email">E-Mail</label>
				<input type="text" id="email" name="email" ng-model="email" class="form-control">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" id="password" name="password" ng-model="password" class="form-control" phash>
				{{password}}
			</div>
			<button type="btn" class="btn btn-primary" ng-click="createAccount(email,password)">Sign Up</button>
		</ng-form>
	</div>
</div>