@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Dancing+Script|Open+Sans:300i,400|Roboto:300,400');
$font-stack-cedarville: 'Cedarville Cursive', cursive;
$font-stack-dancing: 'Dancing Script', cursive;
$font-stack-open: 'Open Sans', sans-serif;
$font-stack-roboto: 'Roboto', sans-serif;
$bg-color: #f8f8f8;
$text-color: #333;

$bwtoTopGradient: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(229,229,229,0) 100%);
$bwtoTopGradient-moz:-moz-linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(229,229,229,0) 100%);
$bwtoTopGradient-webkit:-webkit-linear-gradient(t0 top, rgba(0,0,0,1) 0%,rgba(229,229,229,0) 100%); 