@import "partials/base";
@import "partials/navBar";
@import "partials/mainHeader";
@import "partials/hmainHeader";
@import "partials/mainBody";
@import "partials/blog";
@import "partials/admin";
@import "partials/store";
@import "partials/about";
@import "partials/shopMenu";
@import "partials/mainBodyNav";
@import "partials/productModal";
@import "partials/cart";
@import "partials/temp";
@import "partials/product";
@import "partials/mediaQ/temp";
@import "partials/mediaQ/navBar";  
@import "partials/mediaQ/about";  
@import "partials/mediaQ/blog";  
@import "partials/mediaQ/shop";  
@import "partials/mediaQ/product";  
@import "partials/mediaQ/cart";  
@import "partials/mediaQ/checkout";  
@import "partials/login";  
@import "partials/checkout";  
@import "partials/expand";  
@import "partials/footer";  

body{
	background-color: $bg-color;
  	font-family: $font-stack-roboto, sans-serif;
  	color: $text-color;
  	height: auto; 
  	/*overflow: hidden;*/
}

/*::-webkit-scrollbar { 
    display: none; 
}*/
/*//////////////////////////////////////*/
/*///// borders /////// */
.border {
  border: 2px dotted black; }

.border2 {
  border: 2px solid red; }

.border3 {
  border: 2px solid yellow; }

.border4 {
  border: 2px solid white; }

.border5 {
  border: 2px solid red; }

