/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .navMenu_logo {
    	text-align: center;
    	
    }
    .dropdown-toggle{
    	    padding: 10px 15px;
    }
    .navbar-toggle{
  padding: 5px 8px !important;
}
 .navContainer{
  background-color: transparent;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
     background-color: transparent !important;
}
.navbar-collapse{
  margin-top:-10px;
  background-color: #e7e7e7;
}
.navbar-fixed-top .navbar-collapse {
    max-width: 50%;
    float: right;
  }
  .cart-badge{
    margin-left: 25%;
  }
  .badge-notify{
  	z-index: 1;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.navContainer{
   	 	padding: 0 10%;
    }
	.navbar-nav {
	    float: right;
	    margin-top: 15px;
	    .cart-badge{
	        padding-top: 14px !important;
	     }
	    li{
	    	padding-top: 10px;
	    	a{
	    		padding: 5px 10px;
	    	}
	    }
	}
	.navbar-collapse{
  		margin-top:0;
  		background-color: transparent;
	}
	.cart-badge{
	    margin-left: 0;
	 }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.navContainer{
   	 	padding: 0 3%;
    }
    .navbar-collapse{
  		margin-top:0;
  		background-color: transparent;
	}
	.navbar-fixed-top .navbar-collapse {
	    max-width: 100%;
	    float: none;
	  }
	  .cart-badge{
	    margin-left: 0;
	 }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .navContainer{
   	 	padding: 0 10%;
    }
     .navbar-collapse{
  		margin-top:0;
  		background-color: transparent;
	}
	.navbar-fixed-top .navbar-collapse {
	    max-width: 100%;
	    float: none;
	  }
	  .cart-badge{
	    margin-left: 0;
	 }
}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}