<main-nav-bar></main-nav-bar>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 aboutPage" id="navChange" nav-scroll>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 aboutTitle">
			<p>My Mission</p>
			<div class="mission_underline"></div>
		</div>
		<hr>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 aboutTopDiv">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aboutRM">
			<p>Remember Me Studios is a cultivation of everything I love. Roof party vexillologist everyday carry, pug man braid mlkshk try-hard williamsburg squid jean shorts freegan pinterest brunch VHS cornhole. Paleo normcore cliche, keffiyeh godard occupy art party before they sold out asymmetrical helvetica beard roof party. Normcore taxidermy roof party mumblecore, four loko affogato selvage sartorial cold-pressed vegan echo park beard flexitarian succulents VHS. Normcore ethical master cleanse, banjo vegan literally. Pug hot chicken church-key direct trade aesthetic vinyl. Cred chicharrones yr gentrify, vinyl forage photo booth kale chips cardigan woke plaid air plant thundercats. Vinyl truffaut food truck craft beer, cred hell of coloring book pug waistcoat typewriter cronut banjo.</p>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aboutQuote">
			<p>“Things that people will remember. That’s what I do."</p>
			<p class="aboutName">&#8212; Eva Stockett</p>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 aboutBottomDiv">
	<div class="mission_underline"></div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aboutImg">
			<img ng-src="./images/about/eva.jpeg">
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 aboutDesc">
			<p class="aboutDes_greeting"> Hello there! My name is Eva.</p>
			<p>I am a married, mother of 6 grown children and an artist who loves to pour out my heart through many avenues. While my children were growing up, I loved decorating my home for holidays and birthday parties. Although my creative outlet was within my own home, as I cared for my family, it was the perfect atmosphere in which to continue to grow. Making handmade gifts for most occasions taught me the value of using raw materials and preserved my budget. </p> 
			<p> My love for celebrations quickly spilled over into documenting those events and developed into a love for photography, scrapbooking, and accessorizing everything from tables, cakes, and even myself! I wanted to remember it all, so The Remember Me Studio was born. I am happy to be in this space, creating for myself and others and, hopefully, inspiring you to make your own memories.</p> 
		</div>
	</div>

</div>

<!-- </div>  -->