<main-nav-bar></main-nav-bar>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blogDiv" ng-controller="BlogController">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blogDiv_card" ng-repeat="item in blog">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blogDiv_title">
			<p>{{item.title}}</p>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blogDiv_date">
			<p>{{item.date}}</p>
		<div class="blog_underline"></div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blogDiv_content">
			<p>{{item.post}}</p>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blogDiv_footer border hide">
			maybe a comments and likes section here?
		</div>
	</div>

</div>


