
<main-nav-bar></main-nav-bar>
<div class="pDiv col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="pDiv_previousBtn col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
		<a ui-sref="shop"><i class="fa fa-long-arrow-left"></i></a>
	</div>
	<div class="pDiv_container col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-repeat="item in product">
		<div class="pDiv_images_container col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
			<div class="pDiv_mainImg col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<img src="{{item.url}}">
			</div>
			<div class="pDiv_subImg col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="subImg1 col-lg-4 col-md-4 col-sm-4 col-xs-4 "> 
					<img src="{{item.url}}">
				</div>
				<div class="subImg1 col-lg-4 col-md-4 col-sm-4 col-xs-4 "> 
					<img src="{{item.url}}">
				</div>
				<div class="subImg1 col-lg-4 col-md-4 col-sm-4 col-xs-4 "> 
					<img src="{{item.url}}">
				</div>
			</div>
		</div>
		<div class="pDiv_desc_container col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="pDiv_des_title col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p>{{item.title}}</p>
			</div>
			<div class="pDiv_des_price col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p><b>{{item.price | currency}}</b></p>
			</div>
			<div class="pDiv_des_detail col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p>{{item.desc}}</p>
			</div>
			<div class="pDiv_des_btns col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<a href="">
                    <ngcart-addtocart template-url="vendor/ngCart/template/ngCart/addtocart.html" id="{{item.$id}}" name="{{item.title}}" price="{{item.price}}" quantity="1" quantity-max="5" data="{{item.url}}">Add to Bag</ngcart-addtocart>
                  </a>
			</div>
		</div>
	</div>
</div>